{%load static%}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'css/shops.css' %}" rel="stylesheet">

<div class="container" >
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b>EC BAZZAR</b></h4>
                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19"> <small>PRODUCTS</small></a> <i class="mdi mdi-settings-outline"></i> <a href="#" class=" btn-outlined btn-black text-muted"><img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17" id="plus"> <small>ADDRESS</small> </a> <a href="#" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>MORE</small></a> <span class="vl ml-3"></span> </div>
                <div class="col-md-auto ">
                    <ul class="list-inline">

                        <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30" height="30 " class="more"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b>PN STORES</b></h4>
                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19"> <small>PRODUCTS</small></a> <i class="mdi mdi-settings-outline"></i> <a href="#" class=" btn-outlined btn-black text-muted"><img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17" id="plus"> <small>ADDRESS</small> </a> <a href="#" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>MORE</small></a> <span class="vl ml-3"></span> </div>
                <div class="col-md-auto ">
                    <ul class="list-inline">
                      
                        <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30" height="30 " class="more"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b>KP STORES</b></h4>
                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19"> <small>PRODUCTS</small></a> <i class="mdi mdi-settings-outline"></i> <a href="#" class=" btn-outlined btn-black text-muted"><img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17" id="plus"> <small>ADDRESS</small> </a> <a href="#" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>MORE</small></a> <span class="vl ml-3"></span> </div>
                <div class="col-md-auto ">
                    <ul class="list-inline">
                      
                        <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30" height="30 " class="more"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b>SAJAN STORES</b></h4>
                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19"> <small>PRODUCTS</small></a> <i class="mdi mdi-settings-outline"></i> <a href="#" class=" btn-outlined btn-black text-muted"><img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17" id="plus"> <small>ADDRESS</small> </a> <a href="#" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>MORE</small></a> <span class="vl ml-3"></span> </div>
                <div class="col-md-auto ">
                    <ul class="list-inline">
                      
                        <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30" height="30 " class="more"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}